{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mark Details</title>

    <style>
        div{
            height: 600px;
            width: 300px;
            
        }
        ol,li,ul{
            padding: 10px;
           
        }
        
    </style>
</head>
<body>

    <center>
        <h1>Mark Details</h1>
    <div>
    <ol>
        <li>
            Initial submission - 5 Mark.
        <br>
            Final Submission - 10 Mark.
        </li>
        <li>
            If any plagiarism found in final report
            Mark will reduced by following condition.
            <ul>
                <li>
                     Less than 30% -5 Mark.  
                </li>
                <li>
                    Less than 50% -3mark.
                </li>
                <li>
                    greater than 50% -0 mark.
                </li>
            </ul>
        </li>
    
        <li>
            Reviewer mark-60 Mark (evaluation 100 & convert 60 Mark)
        </li>
        <li>
            team communication-30 mark (Evaluation 30 & convert to 10)
        </li>
        <li>
            Work log:
            <br>
            Points will Awarded by following condition.
        </li>
        <ul>
            <li>
                0 to 10 hours-2 Marks
            </li>
            <li>
                10 to 30 hours-4 Marks
            </li>
            <li>
                30 to 70 hours-8 Marks
            </li>
            <li>
                Above 70 hours-10 Marks
            </li>
        </ul>
        
    </ol>
    <h5>Total Mark=100</h5>
</div>
</center>
</body>
</html>